@media (max-width:640px) {
    .logo{
        display: block;
    }
    .secondary-button,.edit-button{
        margin-top: 100%;
    }
    .card-container{
        grid-template-columns: repeat(auto-fill,140px);
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        height: 140px;
        width: 140px;
    }
    .menu{
        display: block;
    }   
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    #product-detail {
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }  
    .mobile-menu{
        background-color: white;
        left: 0;  
        width: 100%;
    }
}

@media (min-width:640px) {
    .mobile-menu{ 
        display: none; 
    } 
}
